*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chat-container-header{
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
}
.img-container{
    height: 2rem;
    width: 2rem;
    border-radius: 15px;
    overflow: hidden;
    margin: .5rem;
}
img{
    width: 100%;
}
h3{
    color: #fff;
}

.edit-profile{
  color: white;
  cursor: pointer;
  margin-left: 1rem;
}
.edit-profile:hover{
  color: red;
}
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #f691a0;
    margin-right: .5rem;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 1rem;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: .8rem;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 6rem;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 50%;
    transition-duration: .3s;
    padding-left: .5rem;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }