*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat{
    padding: 0 1rem;
    height: 65vh;
    overflow-y: auto;
}

.clicked-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.clickedUserName{
    font-size: 1.3rem;
    margin-top: .3rem;
}

.image-user{
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    object-fit: cover;
}

.chat-content{
    background-color: transparent;
}
.from-user{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 1rem;
}
.from-user span{
    margin-left: 1rem;
    max-width: 15rem;
    background-color: #f9f0e2;
    padding: .2rem .6rem;
    border-radius: 0 1rem 1rem 1rem ;
}

.to-user{
    display: flex;
    justify-content: end;
    align-items: start;
    margin-bottom: 1rem;
} 

.to-user span{
    margin-right: 1rem;
    max-width: 15rem;
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: .2rem .6rem;
    border-radius: 1rem 0 1rem 1rem;
}

input{
    padding: 0.5rem;
    width: 63%;
}

