*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-container{
    display: flex;
    justify-content: space-around;
}



nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
nav .logo-container{
    width: 8rem;
    margin: .5rem 2rem;
}
nav .logo-container .logo{
    width: 100%;
}
nav .nav-button{
    position: relative;
    display: inline-block;
    margin: 2.5rem 3rem;
    padding: .5rem 1rem;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: #3079DD;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #3079DD;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #3079DD;
}
nav .nav-button:hover{
    color: white;
    box-shadow: inset 0 -100px 0 0 #3079DD;
    cursor: pointer;
}

nav .nav-button:active {
    transform: scale(0.9);
  }

nav .nav-button:disabled{
    background-color: rgb(235, 234, 234);
    border: 2px solid white;
    color: gray;
}

.logo{
    width: .5rem;
    height: 6rem;
}
