:root{
    --var: #f691a0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
}

.user-details{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
}

.like-content{
  font-size: 1.2rem;
}

.images{
    border-radius: .5rem;
}
.ant-modal .ant-modal-title {
    font-size: 1.5rem;
    color: var(--var);
    margin-top: 2rem;
}

.personal{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin: 1rem 0;
}
.hobbies-field{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin: 1rem 0;
    align-items: center;

}
.residence{
    margin-bottom: 5rem;
}
.span-field{
    padding: .2rem .7rem;
    border: 1px solid var(--var);
    cursor: pointer;
    border-radius: .6rem;
}
.about-field{
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: left;
}
.bio{
color: var(--var);
}
.about-content{
    font-weight: lighter;
}
#pic3{
    margin-bottom: 1rem;
}
.residence{
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}
/* -----------------------bottom------------------------- */
.custom-shape-divider-bottom-1686069905 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686069905 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 85px;
}

.custom-shape-divider-bottom-1686069905 .shape-fill {
    fill: #F691A0;
}

/* -------------------top----------------------- */
.custom-shape-divider-top-1686070002 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1686070002 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;

}

.custom-shape-divider-top-1686070002 .shape-fill {
    fill: #F691A0;
}

